doctype
html
  head
    title= title
    link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Old+Standard+TT")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/g/alertifyjs@1.8.0(css/alertify.min.css+css/themes/semantic.min.css)")
    link(rel="stylesheet", href="../style/css/output.css")
  body
    div(id="tilt")
      div(class="box_border")
      div(class="box_background")
      div(class="header_block")
        h1(class="header_text_center") Shut The Box
      div(class="ui centered inline active loader")
      form(action="javascript:void(0)", id="username_form", style="display:none;")
        div(class="ui one column centered grid")
          div(class="column center aligned")
            h2() You are?
        div(class="ui one column grid")
          div(class="column center aligned")
            div(class="ui input")
              input(placeholder="Type your nickname...", type="text", name="username_field", id="username_field", maxlength="80")
            div(class='margin-left')
              button(class="ui button", id="username_button", type="submit") Enter
      div(class="game_selection_shell")
      div(class="gameplay_shell")

    script(type="text/javascript", src="../node_modules/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="../node_modules/jquery.transit/jquery.transit.js")
    script(type="text/javascript", src="../js/dist/jquery.dice.js")
    script(type="text/javascript", src="../js/dist/client.js")
    script(src="https://apis.google.com/js/client.js?onload=initWebsite")
