/** initial setup **/
.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.nano > .nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.nano > .nano-content:focus {
  outline: thin dotted; }

.nano > .nano-content::-webkit-scrollbar {
  display: none; }

.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block; }

.nano > .nano-pane {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: .01;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility: visible\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: 0.99; }

.nano {
  width: 380px;
  height: 380px;
  display: inline-block; }

.nano > .nano-content {
  padding: 20px; }

.nano > .nano-pane {
  background: #888; }

.nano > .nano-pane > .nano-slider {
  background: #111; }

body {
  font: 100% Ubuntu, sans-serif;
  transform: perspective(1000px) rotateX(10deg);
  color: #331a00; }

.background_shut_the_box {
  position: absolute;
  background: url("../../images/felt.jpg") repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 750px;
  width: 1130px;
  z-index: -100; }

.box_border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 750px;
  width: 1130px;
  z-index: -99;
  border: 20px brown;
  border-style: groove;
  box-shadow: 10px 10px 5px grey; }

.domino_container {
  width: 100%;
  text-align: center;
  z-index: 3; }

.domino {
  display: inline-flex;
  font-size: 20px;
  width: 72px;
  height: 120px;
  margin: 9px;
  position: relative;
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  border-radius: 0.8em;
  -moz-box-shadow: 0.15em 0.15em 0 0.1em #836953;
  -webkit-box-shadow: 0.15em 0.15em 0 0.1em #836953;
  box-shadow: 0.15em 0.15em 0 0.1em #836953;
  background-color: #A0785A; }

.domino_inner_container {
  margin: 0 auto; }

.domino_number {
  margin: auto;
  font-size: 36px;
  font-family: "Old Standard TT", serif;
  -webkit-transform: scale(1, 2.5);
  /* Safari and Chrome */
  -moz-transform: scale(1, 2.5);
  /* Firefox */
  -ms-transform: scale(1, 2.5);
  /* IE 9 */
  -o-transform: scale(1, 2.5);
  /* Opera */
  transform: scale(1, 2.5); }

.margin-left {
  display: inline-flex;
  margin-left: 10px; }

.rod {
  position: relative;
  height: .8em;
  top: -30px;
  margin: 0 auto;
  background-color: silver;
  border-radius: 1em;
  z-index: -1;
  width: 1085px; }

.ui.divider.inverted.darker_divider:before {
  border-top-color: #222426 !important;
  border-left-color: #222426 !important;
  border-bottom-color: #222426 !important;
  border-right-color: #222426 !important; }

.ui.divider.inverted.darker_divider:after {
  border-top-color: #222426 !important;
  border-left-color: #222426 !important;
  border-bottom-color: #222426 !important;
  border-right-color: #222426 !important; }

.game_selection {
  position: relative;
  margin: 0 auto;
  width: 1130px; }

.vertical_align {
  vertical-align: middle; }

.buttons_small {
  -webkit-transform: scale(0.7);
  /* Safari and Chrome */
  -moz-transform: scale(0.7);
  /* Firefox */
  -ms-transform: scale(0.7);
  /* IE 9 */
  -o-transform: scale(0.7);
  /* Opera */
  transform: scale(0.7); }

.ui.button:disabled {
  opacity: 1 !important; }

.header_block {
  height: 20%;
  width: 100%;
  display: inline-block; }

.text_center {
  text-align: center;
  padding-top: 20px;
  font-size: 4rem; }

.remove_padding {
  padding: 0 !important; }

.dice {
  z-index: 5; }

.dice_area {
  height: 200px; }

.dice {
  left: 20px !important;
  margin-top: 15px !important; }

/*# sourceMappingURL=output.css.map */
