div(class="ui one column top aligned very relaxed stackable grid", id="domino_container" style="display: none")
  div(class="ui one column center aligned")
    each val in [1,2,3,4,5,6,7,8,9,10,11,12]
      div(class="domino")
        div(class="domino_number", data-number=val) #{val}
  div(class="rod")
  div(class="ui one column grid center aligned dice_area")
    div(class="column center aligned")
      div(class="dice_holder")
      div(class="dice_holder_2")
  div(class="ui one column grid center aligned")
    div(class="column center aligned")
      button(class="ui button center aligned" id="roll_button") Roll
