div(class="domino-container", id="nine_domino_container" style="display: none")
  each val in [1,2,3,4,5,6,7,8,9,10,11,12]
    div(class="domino")
      div(class="domino-number", data-number=val) #{val}
div(class="rod")
