doctype
html
  head
    title= title
    link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Old+Standard+TT")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/g/alertifyjs@1.8.0(css/alertify.min.css+css/themes/semantic.min.css)")
    link(rel="stylesheet", href="../style/css/output.css")
  body
    div(id="tilt")
      div(class="box_border")
      div(class="background_shut_the_box")
      div(class="header_block")
        h1(class="text_center") Shut The Box
      div(class="ui centered inline loader")
      form(action="javascript:void(0)", id="username_form", style="display:none;")
        div(class="ui one column centered grid")
          div(class="column center aligned")
            h2() You are?
        div(class="ui one column grid")
          div(class="column center aligned")
            div(class="ui input")
              input(placeholder="Type your nickname...", type="text", name="username_field", id="username_field", maxlength="80")
            div(class='margin-left')
              button(class="ui button", id="username_button", type="submit") Enter
      div(class="game_selection_shell")
      div(class="gameplay_shell")

    script(type="text/javascript", src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
    script(type="text/javascript", src="https://www.promisejs.org/polyfills/promise-7.0.4.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.min.js")
    script(type+"text/javascript", src="https://cdn.jsdelivr.net/alertifyjs/1.8.0/alertify.min.js")
    script(type="text/javascript", src="../js/jquery.dice.js")
    script(type="text/javascript", src="../js/client.js")
    script(type="text/javascript", src="https://apis.google.com/js/client.js?onload=init")
