doctype
html
  head
    title= title
    link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Old+Standard+TT")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
    link(rel="stylesheet", href="../style/css/output.css")
  body
    form(action="javascript:void(0)", id="username_form", style="display:none;")
      div(class="ui one column centered grid")
        div(class="column center aligned")
          label() You are?
      div(class="ui one column grid")
        div(class="column center aligned")
          div(class="ui input")
            input(placeholder="Type your nickname...", type="text", name="username_field", id="username_field", maxlength="80")
          div(class='margin-left')
            button(class="ui basic button", id="username_button", type="submit") Enter
    div(class="game_selection", id="game_selection", style="display: none;")
    div(class="gameplay", style="display: none;")

    script(type="text/javascript", src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.min.js")
    script(type="text/javascript", src="../js/client.js")
    script(type="text/javascript", src="https://apis.google.com/js/client.js?onload=init")
