$font-stack: Ubuntu, sans-serif;
$d-number-font: 'Old Standard TT', serif;
$d-width: 72px;
$d-height: 120px;
$d-font-size: 20px;
$d-margin: 9px;
$d-border-radius: .8em;
$d-box-shadow1: .15em;
$d-box-shadow2: .1em;
$d-color: #A0785A;
$d-shadow: #836953;
$d-number-font-size: 36px;
$rod-width: 1085px;
$nano-box-width: 380px;
//copied from nanoscroller
/** initial setup **/
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano > .nano-content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano > .nano-content:focus {
  outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
  display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}
.nano > .nano-pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
  border-radius         : 5px;
}
.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;
  border-radius         : 3px;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}
//
.nano {
  width: $nano-box-width;
  height: $nano-box-width;
  display: inline-block;
}
.nano > .nano-content { padding: 20px; }
.nano > .nano-pane   { background: #888; }
.nano > .nano-pane > .nano-slider { background: #111; }

body {
  font: 100% $font-stack;
  color: #331a00;
}

#tilt {
  transform: perspective(1000px) rotateX(10deg);
  height: 100%;
  width: 100%;
}
.background_shut_the_box {
  position: absolute;
  background: url("../../images/felt.jpg") repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 750px;
  width: 1130px;
  z-index: -100;
  // border: 10px brown;
  // box-shadow: 0 0 2px 20px brown inset;
  // border-style: groove;
}
.box_border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 750px;
  width: 1130px;
  z-index: -99;
  border: 20px brown;
  border-style: groove;
  box-shadow: 10px 10px 5px grey;
}


.domino_container {
  width: 100%;
  text-align: center;
  z-index: 3;
}

 .domino {
   display: inline-flex;
   font-size: $d-font-size;
   width: $d-width;
   height: $d-height;
   margin: $d-margin;
   position: relative;
   -webkit-border-radius: $d-border-radius;
   -moz-border-radius: $d-border-radius;
   border-radius: $d-border-radius;
   -moz-box-shadow: $d-box-shadow1 $d-box-shadow1 0 $d-box-shadow2 $d-shadow;
   -webkit-box-shadow: $d-box-shadow1 $d-box-shadow1 0 $d-box-shadow2 $d-shadow;
   box-shadow: $d-box-shadow1 $d-box-shadow1 0 $d-box-shadow2 $d-shadow;
   background-color: $d-color;
 }

.domino_inner_container{
  margin: 0 auto;
}
.domino_number {
  margin: auto;
  font-size: $d-number-font-size;
  font-family: $d-number-font;
  -webkit-transform:scale(1,2.5); /* Safari and Chrome */
  -moz-transform:scale(1,2.5); /* Firefox */
  -ms-transform:scale(1,2.5); /* IE 9 */
  -o-transform:scale(1,2.5); /* Opera */
  transform:scale(1,2.5);
}

.margin-left {
  display: inline-flex;
  margin-left: 10px;
}

.rod {
  position: relative;
  height: .8em;
  top: -30px;
  margin: 0 auto;
  background-color: silver;
  border-radius: 1em;
  z-index: -1;
  width: $rod-width;
}

.ui.divider.inverted.darker_divider:before {
  border-top-color: rgba(34,36,38,1) !important;
  border-left-color: rgba(34,36,38,1) !important;
  border-bottom-color: rgba(34,36,38,1) !important;
  border-right-color: rgba(34,36,38,1) !important;
}

.ui.divider.inverted.darker_divider:after {
  border-top-color: rgba(34,36,38,1) !important;
  border-left-color: rgba(34,36,38,1) !important;
  border-bottom-color: rgba(34,36,38,1) !important;
  border-right-color: rgba(34,36,38,1) !important;
}

.game_selection {
  position: relative;
  margin: 0 auto;
  width: 1130px;
}
.vertical_align {
  vertical-align: middle;
}
.buttons_small {
  -webkit-transform:scale(.7); /* Safari and Chrome */
  -moz-transform:scale(.7); /* Firefox */
  -ms-transform:scale(.7); /* IE 9 */
  -o-transform:scale(.7); /* Opera */
  transform:scale(.7);
}
.ui.button:disabled {
  opacity: 1 !important;
}
.header_block {
  height:15%;
  width: 100%;
  display: inline-block;
}
.text_center {
  text-align: center;
  padding-top: 40px;
  font-size: 4rem;
}
.remove_padding {
  padding: 0 !important;
}

.dice {
  z-index: 5;
}
.dice_area {
  height: 200px;
  margin-top: 100px !important;
}

.dice {
  left: 200px !important;
  margin-top: 15px !important;
}
